.head {
    display: inline-flex;
    align-items: center;
}
.search, .head button {
    padding: 5px;
}
.search {
    border: 1.5px solid transparent;
    font-size: 10pt;
}
.search:active, .search:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom: 1.5px solid #A9A9A9; 
}
.head button:hover, .next:hover {
    opacity: 0.8;
}
.head button, .next {
    cursor: pointer;
    opacity: 0.2;
}
.next {
    display: inline-block;
    width: 50px;
}
.next img {
    width: 100%;
}
.next {
    margin-left: 25%;
}

.follow, .unfollow {
    cursor: pointer;
}

.item a {
    text-decoration: none;
    color: #383838;
}
.item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.info {
    width: 45%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.item .userPhoto {
    border-radius: 50%;
    width: 80px;
    margin-right: 10px;
}

.name {
    font-weight: 600;
    margin-bottom: 5px;
}

.follow, .unfollow {
    padding: 8px 30px;
    border-radius: 30px;
    color: #383838;
    font-size: 10pt;
    font-weight: 600;
    border: 1.5px solid transparent;
}

.follow {
    background-color:  #BFD641;
    color: white;
}

.follow:disabled {
    background-color:  #e8f1b1;
}

.unfollow {
    border: 1.5px solid #EADEDB;
}

.unfollow:disabled {
    border: 1.5px solid #f6f0ef;
    color: #cccccc;
} 

.error {
    margin-top: 20px;
}
