.header {
    grid-area: h;
    background: #EADEDB;
    display: grid;
    grid-template-areas: 
    "i r";
    grid-template-columns: 1fr 1fr;
    font-size: 11pt;
}
.right {
    grid-area: r;
    justify-self: end;
    align-self: center;
    margin-right: 15%;
}

.header img {
    margin-left: 12%;
    grid-area: i;
    height: 100%;
}

.button, .name {
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.button {
    padding: 8px 20px;
    border-radius: 30px;
    border: 1.5px solid white;
    color:white;
    cursor: pointer;
}
.button:hover{
   background-color: #BC70A4;
   border: 1.5px solid transparent;
}

.name {
    margin-right: 20px;
    text-decoration: none;
    color:white;
    padding: 8px 20px;
}

.name:hover{
    color:#383838;
}