.nav{
    grid-area: n;
    margin-left: 50%;
}

.item a{
    display: inline-block;
    text-decoration: none;
    color:#A9A9A9;
    margin-top: 20px;
    border: 1.5px solid transparent;
    padding: 8px 20px;
    border-radius: 30px;
}

.item a:hover{
    font-weight: bold;
    color:white;
    background-color: #525252;
    border: 1.5px solid transparent;
}

.item .active {
    color:#383838;
    font-weight: bold;
    border: 1.5px solid #A9A9A9;
}

